<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [nzTrigger]="null"
              [(nzCollapsed)]="isCollapsed">
        <!-- App logo -->
        <div class="sidebar-logo" [ngClass]="{ 'flex-center': isCollapsed }">
            <a routerLink="/" class="flex-center">
                <img
                    [src]="isCollapsed ? 'assets/small-logo.png' : 'assets/full-logo.webp'"
                    alt="logo"
                    [ngClass]="{ 'w-70': isCollapsed }"
                />
            </a>
        </div>

        <!-- Menu -->
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li
                *ngFor="let menu of menuItems"
                nz-submenu
                [nzOpen]="menu.isOpen"
                [nzTitle]="menu.title"
                [nzIcon]="menu.icon || ''">
                <ul *ngIf="menu.children?.length">
                    <li
                        *ngFor="let child of menu.children"
                        nz-menu-item
                        nzMatchRouter>
                        <a [routerLink]="child.url">{{ child.title }}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nz-sider>

    <nz-layout>
        <app-header [(isCollapsed)]="isCollapsed"></app-header>

        <nz-content>
            <div class="py-2 px-3 inner-content">
                <ng-content></ng-content>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>
